* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(assets/bg.jpg);
  background-size: cover; /* Makes the image cover the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.canvas-container,
.image-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.canvas-container {
  flex: 7.5;
}

.image-container {
  flex: 2.5;
  padding: 0%;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

#score {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  font-size: 25px;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 600;
  color: rgb(40, 99, 145);
}


/* Game Over */
.hidden {
  display: none;
}

.gameOverAlert {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1000;
  
}

.alertBox {
  background:#cae7fa5a;
  padding: 30px 80px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 3px solid #302f2f;
  font-size: 1.3rem;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 600;
  color: black;
} 
.alertBox button{
  background:rgb(157, 208, 247);
  margin-top: 20px;
  padding:5px 20px;
  text-align: center;
  box-shadow: 0 0 2px rgba(113, 247, 252, 0.3);
  border: 3px solid #8aadf3;
  font-size: 1.2rem;
  color: black;
  border-radius: 15px;
}

.backHome{
  background:rgb(157, 208, 247);
  margin-top: 20px;
  padding:5px 20px;
  text-align: center;
  font-size: 1.2rem;
  color: black;
}